<div class="container">
  <div class="col-sm-6">
    <br>
    <br>

  </div>
  <div class="col-sm-6">
      <h3 class="title">
        <p style="color:#008080;text-align: center;font-weight:700;font-size:100%">What is Alzheimer's?</p>
      </h3>
      <br>
      <p> </p>
      <p>Alzheimer's Disease is a type of dementia that affects one's mental abilities.
        A person with Alzheimer's may experience decline in memory, thinking, and other executive functioning skills. </p>
        <br>
        <br>
        <p>Currently, 50 million people worldwide, including 5 million in the U.S., are living with Alzheimer's and other dementias.</p>
        <br>
  </div>


<br>

</div>
