<div class="container">

  <div class="col-sm-6">
    <br><br><br>
    <a href="https://compote.slate.com/images/fb3403a0-6ffc-471a-8568-b0f01fa3bd6b.jpg">
      <img src="https://compote.slate.com/images/fb3403a0-6ffc-471a-8568-b0f01fa3bd6b.jpg" alt="brain" >
    </a>

    <br>

  </div>
  <div class="col-sm-6">
      <h3 class="title">
        <p style="color:#a94864;text-align: center;font-weight:700;font-size:100%">What is Alzheimer's?</p>
      </h3>
      <br>
      <h4>
        <p>Alzheimer's Disease is a type of dementia that affects one's mental abilities.
        A person with Alzheimer's may experience decline in memory in its early stages,
        but eventually, the person loses the ability to make conversation and respond to their environment.
        Losing these cognitive and executive functioning skills can strongly interfere with an individual's quality of living.
        <a href="https://www.alz.org/alzheimers-dementia/what-is-alzheimers" target="_blank">
          <span style="color:#c06c84;font-style: italic;font-weight:500;">Learn More</a>
        </p>
        <br>
        <p>Currently, 50 million people worldwide, including 5 million in the U.S., live with Alzheimer's and other types of dementia.
          According to the
          <a href="https://www.cdc.gov/nchs/fastats/leading-causes-of-death.htm" target="_blank">
            <span style="color:#c06c84;font-style: italic;font-weight:500;">Centers for Disease Control and Prevention</a>,
              Alzheimer's disease is the 6th leading cause of death in the U.S..
        </p>
      </h4>
      <br>
      </div>


<br>
</div>
<div class="container">

  <h3 class="title">
    <p style="color:#a94864;text-align: left;font-weight:700;font-size:100%">Inside Alzheimer's Disease</p>
  </h3>
  <br>
  <iframe width="869" height="489" src="https://www.youtube.com/embed/zTd0-A5yDZI" frameborder="0"  allowfullscreen></iframe>

</div>
<br>
<div class="container">

  <h3 class="title">
    <p style="color:#a94864;text-align: left;font-weight:700;font-size:100%">Treatment</p>
  </h3>
  <br>
  <h4><p>Although there is no cure for Alzheimer's disease, there are many treatment options to alleviate the symptoms. </p></h4>

  <h4>Learn more about treatment for Alzheimer's
    <a href="https://www.alz.org/alzheimers-dementia/treatments" target="_blank">
      <span style="color:#c06c84;font-weight:500;">here</a>!
  </h4>
</div>
<br>
<div class="container">
  <h3 class="title">
    <p style="color:#a94864;text-align: left;font-weight:700;font-size:100%">Resources</p>
  </h3>
  <h4>
    <ul>
      <li><a href="https://www.nia.nih.gov/health/getting-help-alzheimers-caregiving" target="_blank">Alzheimer's Caregiving</a></li>
      <li><a href="https://www.alz.org/help-support/resources/memory-loss-concerns" target="_blank">Approaching Memory Loss Concerns</a></li>
      <li><a href="https://alzfdn.org/10-steps-for-healthy-aging/" target="_blank">10 Steps for Healthy Aging</a></li>
    </ul>
  </h4>
  <br>
</div>
