<div class="row">
  <div style='float:right; margin:40px;'>
    <% if (!loggedIn) {%>
    <div><a href="/auth/google" class="btn btn-info">
      log in
    </a></div>
    <% } else  { %>
      <div class="dropdown">
              <button onclick="myFunction()" class="dropbtn btn btn-info"><%= user.googleemail %></button>
              <div id="myDropdown" class="dropdown-content">
                <a href="/profile">Profile</a>
                <a href="/editProfile">Edit Profile</a>
                <a href="/logout">Logout</a>
              </div>
       </div>
    <% } %>
  </div>
</div>

<div class="container">
  <h3>
    <p style="font-size:120%;text-align: center;"><i>Humans, not places, make memories.</i></p>
    <p style="font-size:80%;text-align: right;">- Ama Ata Aidoo</p>
  </h3>
  <br>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <div class="col-sm-6">
        <img src="images/homepage.jpg" alt="">
      </div>
      <div class="col-sm-6">
        <h4>Individuals who live with Alzheimer's disease face challenges with memory, thinking and behavior.
          It may cause them to feel disconnected and isolated from others. They may need the assistance of others to
          navigate through their daily activities.
        </h4>
      </div>
    </div>
  </div>

    <h2>Memory Management can help!</h2>
    <br>
    <div class="jumbotron jumbotron-fluid">

   <h4><b>* Make a Daily Plan</b></h4>
   <h4>Memory Management helps individuals with dementia and their caregivers to plan and carry out daily tasks.
     A structured day not only reduces agitation and improves mood,
     but also helps them stay mentally and socially engaged.
     Developing a routine for taking the medication helps the individual
     to safely manage their medication, reducing the risk of medication-related problems.</h4>
   </div>

   <br>
     <a href="/about"><span style="color:#008080;font-weight:bold;text-align: center;">
       <h1> <center>Contact us!</center></h1> </a>
   <br>
   <br>

</div>
<script>
       function myFunction() {
          document.getElementById("myDropdown").classList.toggle("show");
        }
</script>
