<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=1">
	<title>MEMORY MANAGEMENT</title>
	<link rel="shortcut icon" type="image/png" href="/images/icon.jpg" />
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/memory-management.css">
</head>
<body>


	<div id="nav">
			<h1 id="title"><a href="/"><span style="color:#00004D">WELCOME TO MEMORY MANAGEMENT</a></h1>
		<div style='float:right; margin:10px;'>
			<% if (!loggedIn) {%>
			<div><a href="/auth/google" class="btn btn-info">
				log in
			</a></div>
			<% } else  { %>
				<div class="dropdown">
				        <button onclick="myFunction()" class="dropbtn btn btn-info"><%= user.googleemail %></button>
				        <div id="myDropdown" class="dropdown-content">
				          <a href="/profile">Profile</a>
				          <a href="/editProfile">Edit Profile</a>
				          <a href="/logout">Logout</a>
				        </div>
				 </div>
			<% } %>
		</div>
		<div><center>
			<a href="/">
				<span class="button">Home</span>
			</a>
			<a href="/alzheimers">
				<span class="button">About Alzheimer</span>
			</a>
			<% if (loggedIn) { %>
				<a href="/medication">
					<span class="button">My Medication</span>
				</a>
			<% } %>

			<a href="/about">
				<span class="button">About</span>
			</a>

			<% if (!loggedIn){%>
				<a href="/auth/google"}
		</center>
		</div>
	</div>

<script>
				function myFunction() {
					 document.getElementById("myDropdown").classList.toggle("show");
				 }
</script>

	<%- body %>

</body>

</html>
